%div#sidebar
  %p
    This is the sidebar
%div#main
  %h1 Login

  - if flash[:notice]
    %p.notice
      = flash[:notice]

  = link_to 'Next Generation Login', Settings.login_url
  %p
    Sample Users:
  %p
    student_1, 1234561
  %p
    student_2, 1234562
  %p
    student_3, 1234563
  %p
    teacher_1, 1234561
  %p
    teacher_2, 1234562

