%h1 Commented forms
%table
  %thead
    %tr
      %th Name
      %th Student ID
      %th View

      
  %tbody
    - @list.each do |form|
      %tr
        %td= form.name
        %td= form.student_jobid
        %td= link_to 'View', teachers_view_form_path(:id => @user.id, :form_id => form.id)