%h1 Student forms list
%table
  %thead
    %tr
      %th Name
      %th Education
      %th View

  %tbody
    - @list.each do |form|
      %tr
        %td= form.name
        %td= form.education
        %td= link_to 'View', teachers_view_form_path(:id => @user.id, :form_id => form.id)
