%h1 To comment forms
%table
  %thead
    %tr
      %th Name
      %th Student ID
      %th Comments

      
  %tbody
    - @list.each do |form|
      %tr
        %td= form.name
        %td= form.student_jobid
        %td= link_to 'Add Comments', teachers_comments_path(:id => @user.id, :form_id => form.id)
