%table
  %tbody
    - EvaluationForm.visible_fields.each do |field|
      %tr
        %td
          = field_name(field)
        %td
          - split_lines(@form.send(field)) do |line|
            = line
            %br
